<div class="container">
  <div class="row">
    <div class="col-lg-4 col-lg-offset-4">
      <div class="page-header">
        <h2>Editar artículo</h2>
      </div>
      <%= render 'form' %>
      <hr>
      <div class="form-group">
        <ul class="list-inline">
          <li><%= link_to 'Ver', @article %></li>
          <li><%= link_to 'Volver', articles_path %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
