$body-bg: #f5f8fa !default;
$navbar-default-color: #55757f !default;
$navbar-default-bg: #ffffff !default;
$navbar-default-border: #e1e8ed !default;
$navbar-default-link-color: #66757f !default;
$navbar-default-link-hover-color: #007bff !default;
$text-color: #66757f !default;
$link-color: #66757f !default;
$link-hover-color: #66757f !default;
$btn-primary-bg: #007bff !default;
$table-bg-hover: #ffffff !default;

@import "bootstrap";
@import "font-awesome";
